.footerLogoLink {
  opacity: 0.5;
  transition: opacity var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.footerLogoLink:hover {
  opacity: 1;
}

.kontaktLogo {
  margin-top: 1rem;
  max-width: min(26rem, 80vw);
}
