.footerLogoLink {
  opacity: 1;
  transition: opacity var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.footerLogoLink:hover {
  opacity: 1;
}

.kontaktLogo {
  margin-top: 1rem;
  max-width: min(26rem, 80vw);
}

.kontaktLogo {
  width: 120px;   /* or any size you prefer */
  height: auto;
  margin-top: 1rem;
  margin-left: 10rem; /* Adjust this value as needed */
  max-width: min(26rem, 80vw);
}
